
@font-face {
    font-family: 'DINMedium';
    src: url('/fonts/din-medium-webfont.eot');
    src: url('/fonts/din-medium-webfont.eot?iefix') format('eot'),
         url('/fonts/din-medium-webfont.woff') format('woff'),
         url('/fonts/din-medium-webfont.ttf') format('truetype'),
         url('/fonts/din-medium-webfont.svg#webfonteq6wpgx5') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRegular';
    src: url('/fonts/din-regular-webfont.eot');
    src: url('/fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/din-regular-webfont.woff') format('woff'),
         url('/fonts/din-regular-webfont.ttf') format('truetype'),
         url('/fonts/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$orange: #e44803;
$blue:   #01b9ff;

@mixin box-shadow($x, $y, $px, $colour) {
    -moz-box-shadow:      $x $y $px $colour;
    -webkit-box-shadow:   $x $y $px $colour;
    box-shadow:           $x $y $px $colour;
}

@mixin background-gradient($start, $end) {
    background: $end;
    background: -moz-linear-gradient(top, $start 0%, $end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end));
    background: -webkit-linear-gradient(top, $start 0%,$end 100%);
    background: -o-linear-gradient(top, $start 0%,$end 100%);
    background: -ms-linear-gradient(top, $start 0%,$end 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
    background: linear-gradient(top, $start 0%,$end 100%);
}

@mixin box-shadow-inset($x, $y, $px, $colour) {
    -moz-box-shadow:      $x $y $px $colour;
    -webkit-box-shadow:   $x $y $px $colour;
    box-shadow:           $x $y $px $colour;
}

@mixin border-radius($px) {
    -moz-border-radius:    $px;
    -webkit-border-radius: $px;
    border-radius:         $px;
}

body {
    border-top: 5px solid $blue; margin:0;
    background-color: #E9E9E9; text-align:center;
}

* {font-family:'DINRegular', Arial, sans-serif; color: #5B5B5B;}
a, a:visited {color:$orange;}
#main {width:620px; margin:5% auto; text-align:left;}
h1 {
    margin:0 0 0 20px;
    a, a:visited {
        font-family:'DINRegular', Arial, sans-serif; text-decoration:none;
        color: #999; text-transform:uppercase;
        img {width:228px; height:33px;}
    }
}

.panel {
    @include box-shadow(3px, 3px, 4px, #c4c3c3); @include border-radius(10px);
    background:#fff; border:1px solid #cbcbcb; padding:50px; font-size:14px;
    margin:0 0 30px 0;
    p {margin:0 0 30px 0;}
};

label {width:210px; text-indent:4px; margin-bottom:3px;}
label, input[type="text"] {float:left;}

input {@include border-radius(5px); padding: 5px 10px;}

input[type="text"] {
    width:180px; margin-right:10px;
    font-family:sans-serif; border: 1px solid #e3e3e3;
    &:focus {border-color:$orange; @include background-gradient(#ffffff, #ffffff);}
    @include background-gradient(#f5f5f5, #ffffff);
}

input[type="submit"] {
    color:#fff; background: $orange; float:left;
    font-family: 'DINMedium', Arial, sans-serif; margin-top:-1px;
    text-transform:uppercase; text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    border: 1px solid #AF3905;
    box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
}

#message {
    margin:30px 0 0 0 !important; text-align:center;
    a {margin-left:5px;}
    .error {color:#f00;}
}

footer {
    text-align:center; font-size:14px;
    img {
        vertical-align:middle; margin:-5px 0 0 5px; width:120px; height:24px;
        border:0;
    }
}
