
@font-face {
    font-family: 'Alte DIN 1451 Gepraegt';
    src: url('/din-1451-alt-g.woff') format('woff');
}

body {
    border-top: 5px solid #01BAFF;
    margin:0;
    color: #5B5B5B;
    background-color: #E9E9E9;
    text-align:center;
    * {font-family: 'Alte DIN 1451 Gepraegt';}
}

#main {
    width:600px; margin:5% auto; text-align:left;
}

h1 {text-transform:uppercase;}
