
$orange: #e44600;

@mixin box-shadow($x, $y, $px, $colour) {
    -moz-box-shadow:      $x $y $px $colour;
    -webkit-box-shadow:   $x $y $px $colour;
    box-shadow:           $x $y $px $colour;
}

@mixin box-shadow-inset($x, $y, $px, $colour) {
    -moz-box-shadow:      $x $y $px $colour;
    -webkit-box-shadow:   $x $y $px $colour;
    box-shadow:           $x $y $px $colour;
}

@mixin border-radius($px) {
    -moz-border-radius:    $px;
    -webkit-border-radius: $px;
    border-radius:         $px;
}

@font-face {
    font-family: 'Alte DIN 1451 Gepraegt';
    src: url('/din-1451-alt-g.woff') format('woff');
}

body {
    border-top: 5px solid #01BAFF; margin:0;
    background-color: #E9E9E9; text-align:center;
}

* {font-family: 'Alte DIN 1451 Gepraegt'; color: #5B5B5B;}
a, a:visited {color:$orange;}
#main {width:600px; margin:5% auto; text-align:left;}
h1 {
    text-transform:uppercase; margin:0 0 0 20px; font-size:24px;
    a, a:visited {text-decoration:none; color: #5B5B5B;}
}

.panel {
    @include box-shadow(3px, 3px, 4px, #c4c3c3); @include border-radius(10px);
    background:#fff; border:1px solid #cbcbcb; padding:50px; font-size:14px;
    margin:10px 0 20px 0;
    p {margin:0 0 20px 0;}
};

label {width:200px; text-indent:7px; margin-bottom:3px;}
label, input[type="text"] {float:left;}

input {@include border-radius(5px); padding: 5px 10px;}

input[type="text"] {
    width:170px; margin-right:10px;
    font-family:sans-serif; border: 1px solid #e9e9e9;
    &:focus {border-color: $orange;}
}

input[type="submit"] {
    color:#fff; background: $orange; float:left;
    font-family: 'Alte DIN 1451 Gepraegt';
    text-transform:uppercase; text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    border: 1px solid #AF3905;
    box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.4);
}

.message {
    margin:30px 0 0 0 !important; text-align:center;
    a {margin-left:5px;}
    &.error {color:#f00;}
}

footer {
    text-align:center; font-size:14px;
    span {margin:0 5px;}
}
